body, html {
  height: 100%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h4{
  color: $mydarkgreen;
  letter-spacing: 4px;
  .experience{
    font-size: 28px;
    font-weight: 900;
  }
}


h6 {
  color: $mydarkgreen;
}

.location {
  text-align: center;
  font-size: 12px;
  padding-top: 0;
  margin-top: 0;
}

// Partial Collapse

#card-collapse #collapseContent.collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 4.5em;
  overflow: hidden;
}

#card-collapse a.collapsed:after {
  content: '+ Show More';
  color: $mydarkgreen;
  font-family: 'Nunito';
}

#card-collapse a:not(.collapsed):after {
  content: '- Show Less';
  color: $mydarkgreen;
}

// End of Partial Collapse


.icon-container {
  margin: 10px;
}

.experience-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .card-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 0 0 auto;
    cursor: pointer;
    background-color: $white;
    color: $black;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 0px 5px;
    font-size: 25px;

     &:hover {
      background-color: $mydarkgreen;
      color: $white;
      text-decoration: none;
     }
  }

  .figure-caption {
   font-size: 12px;
  }
}

.container {
  padding: 30px;
  margin-bottom: 33px;
}


.reviewTitle{
  color:white;
  margin-top: 20px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.3);
  width: 87px;
}


.reviewDesc{
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}


.descTitle{
  font-size: 25px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}
