body, html {
  height: 100%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.experience-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .card-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 0 0 auto;
    cursor: pointer;
    background-color: $white;
    color: $black;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 0px 5px;
    font-size: 25px;

     &:hover {
      background-color: $mydarkgreen;
      color: $white;
      text-decoration: none;
     }
  }

  .figure-caption {
   font-size: 12px;
  }
}

.container {
  padding: 30px;
  margin-bottom: 33px;
}


.reviewTitle{
  color:black;
  margin-top: 20px;
}


.reviewDesc{
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}

.bookme{

  display: flex;
  p{
    margin-bottom: 0;
  }
}


.descTitle{
  font-size: 25px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
}
