
.top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2)), url('https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  position: relative;
  background-size: 450px;
  background-position: center;
  min-height: 240px;
  padding: 15px;
  color: #fff;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.7);
}


.ion-android-menu {
  font-size: 24px;
  margin-right: 17px;
}

.user-profile {
  margin-top: 90px;
}

.user-profile img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  float: left;
  margin-right: 24px;
}

.user-details {
  float: left;
  margin-top: 5px;
  vertical-align: bottom;
}

.filter-btn {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 40px;
  height: 40px;
  transition: all 0.4s ease-in-out 0s;
}

.filter-btn span {
  width: 40px;
  height: 40px;
  background: $mydarkgreen;
  display: block;
  position: absolute;
  right: 25px;
  top: -46px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  border-radius: 50%;
  font-size: 22px;
  z-index: 999;
}
span.toggle-btn.ion-android-funnel:hover{
  cursor: pointer;
}
.filter-btn a {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  right: 25px;
  display: block;
  top: -46px;
  color: #fff;
  z-index: 99;
  font-size: 22px;
  transition: all .4s cubic-bezier(.68, 1, .265, 1)
}

.filter-btn:after {
  height: 170px;
  width: 170px;
  content: '';
  background: $mydarkgreen;
  position: absolute;
  top: -110px;
  right: -40px;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s ease-in-out 0s;
}

.filter-btn.open span.toggle-btn.ion-android-funnel {
  background: $mydarkgreen;
}

.filter-btn.open .ion-android-funnel:before {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.open:after {
  transform: scale(1);
}

.filter-btn.open a:nth-child(1) {
  transform: translate(9px, -62px);
}

.filter-btn.open a:nth-child(2) {
  transform: translate(-50px, -34px);
}

.filter-btn.open a:nth-child(3) {
  transform: translate(-56px, 25px);
}

.filter-btn.open a:nth-child(4) {
  transform: translate(5px, 61px);
}

.bottom {
  background-color: #fff;
  min-height: 303px;
  z-index: 1;
  padding: 35px;
  position: relative;
  color: #222;
  padding-top: 0px;
  height: 500px;
}

.bottom:after {
  content: '';
  position: absolute;
  top: -53px;
  background: #fff;
  left: -53px;
  right: 0;
  height: 88px;
  transform: rotate(10deg);
  z-index: -1;
}

.bottom .title {
  margin-bottom: 20px;
}

.bottom .title h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.title small {
  font-size: 10px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 1px;
}


#profile{
  .btn-danger{
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}


.day-num {
  font-size: 22px;
  color: $mygreen;
  font-weight: bolder;
  opacity: 0.7;
}

.month {
  color: $mydarkgreen;
  font-weight: bold;
}

.day {
  color: $mydarkgreen;
}



