<div class="title">
  <h3>My Bookings</h3>
</div>

<% bookings.each do |booking| %>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div>
          <%= booking.experience.name %>
          <%= booking.date %>
        </div>
        <div>
          <i class="fas fa-trash-alt"></i>
          <i class="fas fa-edit"></i>
        </div>
      <%= link_to 'Review', new_booking_review_path(booking) %>
      </div>
    </div>
  </div>
<% end %>


