<div class="title">
  <h3>My Favorites</h3>
  <ul class="list-group">
  <% @user_places.each do |user_place| %>
    <li class="list-group-item">
      <%= link_to place_path(user_place.place_id), class: "" do %>
        <i class="fas fa-star"></i><%=@places.find(user_place.place_id).name %>
      <% end %>
    </li>
    <% end %>
    <% @user_experiences.each do |user_experience| %>
      <li class="list-group-item">
        <%= link_to experience_path(user_experience.experience_id), class: "" do %>
          <i class="fas fa-star"></i><%=@experiences.find(user_experience.experience_id).name %>
        <% end %>
      </li>
      <% end %>
  </ul>
</div>
