<div class="title">
  <h4 class="text-center">My Favorites Places</h4>
  <ul class="list-group">
  <% @user_places.each do |user_place| %>
    <li class="list-group-item">
      <%= link_to place_path(user_place.place_id), class: "" do %>
        <i class="fas fa-star"></i><%=@places.find(user_place.place_id).name %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
