<nav class="navbar fixed-bottom navbar-dark bg-dark text-justify">
  <%= link_to root_path, class: "nav-link" do %>
    <i class="fas fa-home"></i>
  <% end %>
  <%= link_to root_path, class: "nav-link" do %>
    <i class="fas fa-search"></i>
  <% end %>
  <%= link_to root_path, class: "nav-link" do %>
    <i class="fas fa-star"></i>
  <% end %>
  <%= link_to root_path, class: "nav-link" do %>
    <i class="fas fa-map"></i>
  <% end %>
</nav>
