<nav class="navbar fixed-bottom navbar-dark bg-dark text-justify">
        <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-home"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-home"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-home"></i></a>

</nav>
