<div class="title d-flex justify-content-between">
  <%= cl_image_tag place.photo, class: "avatar avatar-map" %>
  <% place.experiences.each do |experience| %>
    <div class="map-info">
      <h5><%= experience.name %></h5>
      <p><%= link_to place.name, place_path(place)%></p>
  <% end %>
    </div>
</div>

