<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Find me in app/views/pages/home.html.erb</p>
=======
<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->


<div class="container m-3">
  <div class="row">
    <div class="col-6">
      <div class="card m-2">
        <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/deathtostock-00.jpg" />
        <div class="card-body">
          <h5 class="card-title">Milkees</h5>
          <p class="card-text">Best cookies in town 🍪</p>
          <div class="d-flex justify-content-between">
            <div class="icons-rating">
              <i class="fas fa-heart"></i><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i class="far fa-heart"></i><i class="far fa-heart"></i> (3.85)
            </div>
            <div class="icons-map">
              <i class="fas fa-map-marker-alt"></i> São Sebastião
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="cover" class="cover"></div>

<div id="open-content" class="open-content">
  <a href="#" id="close-content" class="close-content"><span class="x-1"></span><span class="x-2"></span></a>
  <img id="open-content-image" src="" />
  <div class="text" id="open-content-text">
  </div>
</div> -->
>>>>>>> 0e7ba19e03f0941cce7876bca6810b14c188213e
