<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(hero_homepage.jpeg);">
  <div class="container">
    <h1>Find your next place to take a coffee</h1>
    <p>Places and experiences.</p>
  </div>
</div>
