<h1>Cards#new</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-5 form">
      <h2>Let's add a new card</h2>
      <%= render 'shared/card_form' %>
      <%= current_user.id %>
    </div>
  </div>
</div>

