<div class="title">
  <h3>My Card #<%= @card.id %></h3>

  <div class="card" style="width: 18rem;">
    <%= cl_image_tag @places.find(@card.place_id).photo, class: "card-img-top" %>
    <div class="card-body">
      <h3 class="mb-1"><%= @places.find(@card.place_id).name %></h3>
      <p class="card-text">Your stamps:</p>
       <%= render inline: @svg %>
      <br><br>
    </div>
  </div>
</div>
