.nav-link {
  color: white;
}

.botnav {
  justify-content: space-between;
  background-color: $mydarkgreen;
  color: $white;
}

.botnav .botnav-collapse {
  flex-grow: 0;
}

.botnav-lewagon .botnav-brand img {
  width: 40px;
}

