.navbar-lewagon {
  justify-content: center;
  background: white;
  z-index: 99999;
  top: 0;
  height: 40px;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);


  p{
    letter-spacing: 7px;
    font-weight: bold;
    color: $mydarkgreen;
    margin-right: 0;
  }

  img {
   width: 22px;
   margin-left: 0;
   color: $mydarkgreen;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}



