#searchcontainer{
  padding: 55px;
  color: saddlebrown;
  .btn{
    background-color: saddlebrown;
  }

}

.results a{
  color: saddlebrown
}
.results a:hover{
  color: red;
}

.result{
    display: flex;
    padding: 15px;
    img{
        margin-left: 30px;
    }
    a {
        align-self: center;
        font-size: 20px;
    }
    a.city{
      color: darkgreen;
    }
}
