<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-5 form">
      <h2>Leve your review for the experience</h2>
      <%= render 'shared/review_form' %>
    </div>
  </div>
</div>

